



 <div class="contenedor flex justify-center content-center" >




  <div class="bg-slate-100 ">

    <form [formGroup]="formValidar" class="m-12" >

      <div  class="row "  style="margin-top: 3%">
                  <mat-form-field class="col-12">
                      <mat-label>Nombre</mat-label>

                      <input  matInput [(ngModel)] ="username" formControlName="usuario" >

                      <mat-hint style="color: red;" *ngIf="formValidar.controls.usuario.touched" >

                        <span *ngIf="formValidar.controls.usuario.hasError('required')">
                            La descripción es requerida
                        </span>
                        <span *ngIf="formValidar.controls.usuario.hasError('pattern')">
                          La descripción es de 3 a 30 caracteres
                      </span>

                    </mat-hint>

                  </mat-form-field>


      </div>

      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Password</mat-label>

          <input  matInput [(ngModel)] ="password" formControlName="password" >
          <mat-hint style="color: red;" *ngIf="formValidar.controls.password.touched">
            <span *ngIf="formValidar.controls.password.hasError('required')">
              Password es requerida
          </span>
        </mat-hint>

      </mat-form-field>

      </div>

      <meta name="apple-mobile-web-app-capable" content="yes">
      <div  class="row"  style="margin-top: 3%; margin-left: auto; margin-right: auto; max-width: fit-content;" >
  <button type="submit" [disabled]="formValidar.invalid" class="gbg-blue-500 bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="registra()">Ingresar</button>
      </div>

  </form>

  </div>






 </div>

