

<div class="container  flex flex-column justify-content-center align-content-center">



  <form [formGroup]="formRegistrar" class=" bg-danger">


    <div class="row justify-content-md-center">
      <mat-toolbar color="primary" >
          <span>Login
          </span>
      </mat-toolbar>
  </div>

  <div class="row justify-content-md-center mt-5">

    <mat-form-field class="col-md-7">
      <mat-label>Nombre de Usuario </mat-label>

      <input  matInput [(ngModel)] ="username" formControlName="validaDescripcion" >

      <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDescripcion.touched" >

        <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('required')">
            La descripción es requerida
        </span>
        <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('pattern')">
          La descripción es de 3 a 30 caracteres
         </span>
    </mat-hint>

  </mat-form-field>

  </div>
  <div class="row justify-content-md-center mt-3">

    <mat-form-field class="col-md-7">
      <mat-label>Contraseña de Usuario </mat-label>

      <input  matInput [(ngModel)] ="username" formControlName="validaDescripcion" >

      <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDescripcion.touched" >

        <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('required')">
            La descripción es requerida
        </span>
        <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('pattern')">
          La descripción es de 3 a 30 caracteres
         </span>
    </mat-hint>

  </mat-form-field>

  </div>




  <meta name="apple-mobile-web-app-capable" content="yes">
  <div  class="row"  style="margin-top: 3%; margin-left: auto; margin-right: auto; max-width: fit-content;" >
<button mat-raised-button type="submit" [disabled]="formRegistrar.invalid" color="primary" (click)="registra()">Registra</button>
  </div>



  </form>





</div>
