<div class="wrapper">
  <!-- mostra con el *ngIf si es false  -->
  <div class="body" *ngIf="!loading">

    <img class="logo"
    src="assets/images/login.png"
     alt="alt login ">
    <h1>Login</h1>
    <div class="form-floating mb-3 mt-3">
      <!-- (ngModel)]="username"  :pa usar importar en el material y tambien en el controller  -->
      <input type="text" class="form-control" [(ngModel)]="username" placeholder="ingrese su usuario">
      <label >usuario</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" [(ngModel)]="password"  placeholder="ingrese su password">
      <label >password</label>
    </div>


    <div class="d-grid gap-2">
       <!-- 1 forma de redireccionar a otro componente -->
      <!-- <button type="button" class="btn btn-success btn-lg" [routerLink]="['/dashboard']">Ingresar</button>
      -->


      <button type="button" class="btn btn-success btn-lg" (click)="login()" >Ingresar</button>


    </div>


    <p class="mt-3">No tienes cuenta?
      <!-- recordar importar en el ts de este componente routerlink -->
       <!-- los router link = en el path  -->
       <a [routerLink]="['/singIn']">Registrar</a></p>


  </div>


  <!-- mostrando el sppiner ,con condicioanl del controller si muestra o no  -->
   <app-spinner *ngIf="loading"></app-spinner>



</div>
